body { background-color: lightblue;}
h1 {color:navy; text-align:center; background-color:red; font-size:50px;}
h2 {color:red; text-align:center; margin-left:20px; margin-right:20px; background-color:black; font-size:25px;}
p {color:red; margin-left:20px; margin-right:20px; background-color:black; font-size:25px; border-style:double;}